{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CineVerso - Catálogo de Filmes</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<header>
    <h1>🎬 CineVerso</h1>
    <p>Catálogo de Filmes</p>
</header>

<main>

<input type="text" placeholder="Pesquisar filme..." disabled>

<section class="filmes">

<div class="filme">
<h2>🎥 Superman (2025)</h2>
<p>⭐ 8.8 | 🎭 Ação / Ficção</p>
</div>

<div class="filme">
<h2>🦖 Jurassic World: Recomeço</h2>
<p>⭐ 7.9 | 🎭 Aventura</p>
</div>

<div class="filme">
<h2>🦸 Quarteto Fantástico: Primeiros Passos</h2>
<p>⭐ 8.5 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>🐉 Como Treinar o Seu Dragão</h2>
<p>⭐ 8.3 | 🎭 Animação</p>
</div>

<div class="filme">
<h2>🕷️ Homem-Aranha: Sem Volta para Casa</h2>
<p>⭐ 8.6 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>🦇 Batman</h2>
<p>⭐ 8.2 | 🎭 Suspense</p>
</div>

<div class="filme">
<h2>🚀 Interestelar</h2>
<p>⭐ 9.0 | 🎭 Ficção Científica</p>
</div>

<div class="filme">
<h2>🌊 Avatar: O Caminho da Água</h2>
<p>⭐ 8.1 | 🎭 Aventura</p>
</div>

<div class="filme">
<h2>🎭 Coringa</h2>
<p>⭐ 8.5 | 🎭 Drama</p>
</div>

<div class="filme">
<h2>🛡️ Capitão América: Admirável Mundo Novo</h2>
<p>⭐ 7.8 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>⭐ Star Wars: O Despertar da Força</h2>
<p>⭐ 8.0 | 🎭 Ficção Científica</p>
</div>

<div class="filme">
<h2>💍 O Senhor dos Anéis</h2>
<p>⭐ 9.2 | 🎭 Fantasia</p>
</div>

<div class="filme">
<h2>🦁 O Rei Leão</h2>
<p>⭐ 9.1 | 🎭 Fantasia</p>
</div>

<div class="filme">
<h2>❄️ Frozen</h2>
<p>⭐ 8.2 | 🎭 Animação</p>
</div>

<div class="filme">
<h2>🧊 Era do Gelo 5</h2>
<p>⭐ 9.2 | 🎭 Fantasia</p>
</div>

<div class="filme">
<h2>🌎 Planeta dos Macacos: O Reinado</h2>
<p>⭐ 8.3 | 🎭 Fantasia</p>
</div>

<div class="filme">
<h2>🦸 Os Vingadores: Ultimato</h2>
<p>⭐ 9.5 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>👑 Pantera Negra</h2>
<p>⭐ 8.0 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>🎯 Missão: Impossível - Acerto Fina</h2>
<p>⭐ 9.5 | 🎭 Ação</p>
</div>

<div class="filme">
<h2>⚡ The Flash</h2>
<p>⭐ 8.5 | 🎭 Ação</p>
</div>

</section>

</main>

<footer>
<p>Projeto desenvolvido em Django + Docker • CineVerso</p>
</footer>

</body>
</html>